@model IEnumerable<AloneBirds.Models.Ticket>
@{
    Layout = "~/Views/Shared/_Layout_Ticket.cshtml";
}

@foreach (var item in Model)
{
    if (@item.State == 0)
    {
        <form class="form-ticket" action="/Ticket/Buy/@item.Id" method="post">
        <button style="" type="submit" onclick="alert('Bạn đã mua vé thành công')" class="square">@item.Seat</button>
        </form>
        @*<button  data-course-id="@item.Id" class=" js-toggle-attendance square">@item.Seat</button>*@

    }
    if (item.State == 1)
    {
        <button type="button" data-toggle="modal" data-target="#exampleModal" style="background-color:lightpink" class="square">@item.Seat</button>
    }

}
<script>
    //$(".js-toggle-follow").click(function (e) {
    //            var button = $(e.target);
    //            if (button.hasClass("btn-default")) {
    //                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
    //                    .done(function () {
    //                        button
    //                            .removeClass("btn-default")
    //                            .addClass("btn-info")
    //                            .text("Following");
    //                    })
    //                    .fail(function () {
    //                        alert("Something failed!");
    //                    });
    //            }
    //            else {
    //                $.ajax({
    //                    url: "/api/followings/" + button.attr("data-user-id"),
    //                    method: "DELETE"
    //                })
    //                    .done(function () {
    //                        button
    //                            .removeClass("btn-info")
    //                            .addClass("btn-default")
    //                            .text("Follow");
    //                    })
    //                    .fail(function () {
    //                        alert("Something failed! (2)");
    //                    });
    //            }
    //        });
    //    });
</script>




