@model IEnumerable<AloneBirds.Models.Ticket>
@{
    ViewBag.Title = "MyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="color:pink">
    <h2>List My Ticket</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watching.ShowTime.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watching.Movie.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watching.ShowTime.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watching.Movie.Name)
        </td>


    </tr>
        }

    </table>

</div>
