
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fake.cshtml";
}
<body style="text-align:center;margin-top:50px; background-image:url(/Content/images/boss.jpg); margin-left:50px">
    <div class="col-md-12" style="margin:8px 0">
        <a style="width:400px;border-radius:10px; background-color:pink;height:40px;font-size:18px" class="btn btn-primary" href="@Url.Action("Index","Base")">HOME &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: seagreen; color:white; height: 40px; font-size: 18px" class="btn btn-secondary" href="@Url.Action("Index_Movie","Movies")">MOVIE_STORE &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: lightcoral; height: 40px; font-size: 18px" class="btn btn-success" href="@Url.Action("Index_Watching","Watchings")">SEARCH MOVIE &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: lightgreen; height: 40px; font-size: 18px" class="btn btn-danger" href="@Url.Action("Index","Movies")">MOVIE MANAGER &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: lightgray; height: 40px; font-size: 18px" class="btn btn-warning" href="@Url.Action("Index","ShowTimes")">SHOWTIME MANAGER &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: lightsalmon; height: 40px; font-size: 18px" class="btn btn-info" href="@Url.Action("Index","Ticket")">TICKET MANAGER &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: lightseagreen; height: 40px; font-size: 18px" class="btn btn-light" href="@Url.Action("Index","Watchings")">WATCHING MANAGER &raquo;</a>
    </div>
    <div class="col-md-12" style="margin:8px 0">
        <a style="width: 400px; border-radius: 10px; background-color: lightskyblue; height: 40px; font-size: 18px" class="btn btn-dark" href="@Url.Action("Index","Rooms")">ROOM MANAGER &raquo;</a>
    </div>

</body>


